In [1]:
setwd("/home/emx/gdrive/Data_Basics/R_programming/Section02")

In [2]:
getwd()

[1] "/home/emx/gdrive/Data_Basics/R_programming/Section02"

In [19]:
fin <- read.csv("P3-Future-500-The-Dataset.csv")

In [20]:
head(fin)

  ID Name         Industry    Inception Employees State City
1 1  Over-Hex     Software    2006      25        TN    Franklin
2 2  Unimattax    IT Services 2009      36        PA    Newtown Square
3 3  Greenfax     Retail      2012      NA        SC    Greenville
4 4  Blacklane    IT Services 2011      66        CA    Orange
5 5  Yearflex     Software    2013      45        WI    Madison
6 6  Indigoplanet IT Services 2013      60        NJ    Manalapan
  Revenue     Expenses          Profit   Growth
1 $9,684,527  1,130,700 Dollars  8553827 19%
2 $14,016,543 804,035 Dollars   13212508 20%
3 $9,746,272  1,044,375 Dollars  8701897 16%
4 $15,359,369 4,631,808 Dollars 10727561 19%
5 $8,567,910  4,374,841 Dollars  4193069 19%
6 $12,805,452 4,626,275 Dollars  8179177 22%

In [21]:
str(fin)

'data.frame':	500 obs. of  11 variables:
 $ ID       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Name     : Factor w/ 500 levels "Abstractedchocolat",..: 297 451 168 40 485 199 435 339 242 395 ...
 $ Industry : Factor w/ 8 levels "","Construction",..: 8 6 7 6 8 6 3 2 6 3 ...
 $ Inception: int  2006 2009 2012 2011 2013 2013 2009 2013 2009 2010 ...
 $ Employees: int  25 36 NA 66 45 60 116 73 55 25 ...
 $ State    : Factor w/ 43 levels "","AL","AZ","CA",..: 37 34 36 4 42 28 23 30 4 9 ...
 $ City     : Factor w/ 297 levels "Addison","Alexandria",..: 94 181 105 195 151 154 53 295 232 26 ...
 $ Revenue  : Factor w/ 499 levels "","$1,614,585",..: 480 195 486 247 403 142 309 1 97 118 ...
 $ Expenses : Factor w/ 498 levels "","1,026,548 Dollars",..: 7 486 4 249 228 248 58 1 403 496 ...
 $ Profit   : int  8553827 13212508 8701897 10727561 4193069 8179177 3259485 NA 5274553 11412916 ...
 $ Growth   : Factor w/ 33 levels "","-2%","-3%",..: 15 17 12 15 15 19 13 1 27 17 ...

In [22]:
# summary(fin)

In [23]:
# Changing from non-factor to factor
fin$ID <- factor(fin$ID)
fin$Inception <- factor(fin$Inception)

In [24]:
str(fin)

'data.frame':	500 obs. of  11 variables:
 $ ID       : Factor w/ 500 levels "1","2","3","4",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Name     : Factor w/ 500 levels "Abstractedchocolat",..: 297 451 168 40 485 199 435 339 242 395 ...
 $ Industry : Factor w/ 8 levels "","Construction",..: 8 6 7 6 8 6 3 2 6 3 ...
 $ Inception: Factor w/ 16 levels "1999","2000",..: 8 11 14 13 15 15 11 15 11 12 ...
 $ Employees: int  25 36 NA 66 45 60 116 73 55 25 ...
 $ State    : Factor w/ 43 levels "","AL","AZ","CA",..: 37 34 36 4 42 28 23 30 4 9 ...
 $ City     : Factor w/ 297 levels "Addison","Alexandria",..: 94 181 105 195 151 154 53 295 232 26 ...
 $ Revenue  : Factor w/ 499 levels "","$1,614,585",..: 480 195 486 247 403 142 309 1 97 118 ...
 $ Expenses : Factor w/ 498 levels "","1,026,548 Dollars",..: 7 486 4 249 228 248 58 1 403 496 ...
 $ Profit   : int  8553827 13212508 8701897 10727561 4193069 8179177 3259485 NA 5274553 11412916 ...
 $ Growth   : Factor w/ 33 levels "","-2%","-3%",..: 15 17 12 15 15 19 13 1 27 17 ...

'data.frame':	500 obs. of  11 variables:
 $ ID       : Factor w/ 500 levels "1","2","3","4",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Name     : Factor w/ 500 levels "Abstractedchocolat",..: 297 451 168 40 485 199 435 339 242 395 ...
 $ Industry : Factor w/ 8 levels "","Construction",..: 8 6 7 6 8 6 3 2 6 3 ...
 $ Inception: Factor w/ 16 levels "1999","2000",..: 8 11 14 13 15 15 11 15 11 12 ...
 $ Employees: int  25 36 NA 66 45 60 116 73 55 25 ...
 $ State    : Factor w/ 43 levels "","AL","AZ","CA",..: 37 34 36 4 42 28 23 30 4 9 ...
 $ City     : Factor w/ 297 levels "Addison","Alexandria",..: 94 181 105 195 151 154 53 295 232 26 ...
 $ Revenue  : Factor w/ 499 levels "","$1,614,585",..: 480 195 486 247 403 142 309 1 97 118 ...
 $ Expenses : Factor w/ 498 levels "","1,026,548 Dollars",..: 7 486 4 249 228 248 58 1 403 496 ...
 $ Profit   : int  8553827 13212508 8701897 10727561 4193069 8179177 3259485 NA 5274553 11412916 ...
 $ Growth   : Factor w/ 33 levels "","-2%","-3%",..: 15 17 12 15 15 19 13 1 27 17 ...